* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
  }
 
.contanier{
    width:90%;
    height:100%;
    margin: auto;
}

.boottoom{
    width:90%;
    height:100%;
    margin: auto;
}

  h1{
    text-align: center;
    font-size:60px;
    border-bottom:2px solid rgb(0, 0, 0);
    margin:20px;
    scroll-snap-align:start;
    color:white;

  }

  .div1,.div2,.div3,.div4,.div5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100vh;
    scroll-snap-align:start;
  }
.div6 .right{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  scroll-snap-align:start;
}

  .left,
  .right{
    width:100%;
  }


p{
    font-size:40px;
    color:white;
}

img{
  width:700px;
  height:700px;
}

model-viewer{
  width:700px;
  height:660px;
}