*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes firs{
    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    }
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.cnr{
    display: flex;
    justify-content: center;
    align-items:center;
    animation:firs 1s ease-in-out;
}
.contanier {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: opacity 0.5s ease;
}

p{
    font-size:50px;
    color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item img{
    width:600px;
    height:600px;
    border-radius:50%;
    border:2px solid black;
    object-fit: cover;

}

.right{
    width:90%;
}

#back{
    width:100%;
    height:100%;
}